<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>name</key>
			<string>北京</string>
			<key>region</key>
			<string>North</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>39.92</real>
				<key>longitude</key>
				<real>116.46</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1869</integer>
				<key>upperPMU</key>
				<integer>14016</integer>
				<key>lowerH</key>
				<integer>1160</integer>
				<key>upperH</key>
				<integer>14016</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.002</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.1</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.003</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>北京住房公积金网</string>
				<key>websiteURL</key>
				<string>http://www.bjgjj.gov.cn/</string>
				<key>websiteName2</key>
				<string>北京市人力资源和社会保障局</string>
				<key>websiteURL2</key>
				<string>http://www.bjld.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>天津</string>
			<key>region</key>
			<string>North</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>39.13</real>
				<key>longitude</key>
				<real>117.2</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1720</integer>
				<key>upperPMU</key>
				<integer>9380</integer>
				<key>lowerH</key>
				<integer>1160</integer>
				<key>upperH</key>
				<integer>9380</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.11</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.09</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.11</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>天津市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.tj.lss.gov.cn/ecdomain/framework/tj/index.jsp</string>
				<key>websiteName2</key>
				<string>天津市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.zfgjj.cn/index.cms</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>太原</string>
			<key>region</key>
			<string>North</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>37.87</real>
				<key>longitude</key>
				<real>112.53</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>774.6</real>
				<key>upperPMU</key>
				<real>3873</real>
				<key>lowerH</key>
				<real>774.6</real>
				<key>upperH</key>
				<integer>3873</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.06</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.065</real>
				<key>unemployment</key>
				<real>0.015</real>
				<key>industrialInjury</key>
				<real>0.006</real>
				<key>pregnancy</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>太原市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.tyldbz.gov.cn/</string>
				<key>websiteName2</key>
				<string>太原市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.tygjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>呼和浩特</string>
			<key>region</key>
			<string>North</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>40.82</real>
				<key>longitude</key>
				<real>111.65</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1015.2</real>
				<key>upperPMU</key>
				<integer>5076</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>5076</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.04</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.02</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.8</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>呼和浩特人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://www.hhhtld.gov.cn/</string>
				<key>websiteName2</key>
				<string>呼和浩特住房资金管理中心</string>
				<key>websiteURL2</key>
				<string>www.hhhtgjj.com.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>石家庄</string>
			<key>region</key>
			<string>North</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>38.03</real>
				<key>longitude</key>
				<real>114.48</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1419</integer>
				<key>upperPMU</key>
				<integer>7095</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7095</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.11</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>石家庄人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.sjzrs.gov.cn/</string>
				<key>websiteName2</key>
				<string>石家庄住房公积金网</string>
				<key>websiteURL2</key>
				<string>http://www.sjzgjj.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>上海</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>31.22</real>
				<key>longitude</key>
				<real>121.48</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>2599</integer>
				<key>upperPMU</key>
				<integer>12993</integer>
				<key>lowerH</key>
				<integer>1280</integer>
				<key>upperH</key>
				<integer>12993</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.22</real>
				<key>medicalCare</key>
				<real>0.12</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>上海住房公积金网</string>
				<key>websiteURL</key>
				<string>http://www.shgjj.com/</string>
				<key>websiteName2</key>
				<string>上海市人力资源社会保障网</string>
				<key>websiteURL2</key>
				<string>http://www.12333sh.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>南京</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>32.04</real>
				<key>longitude</key>
				<real>118.78</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>2181</integer>
				<key>upperPMU</key>
				<integer>10905</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>10905</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.09</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>南京市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.njhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>南京住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.njgjj.com/public/njgjj/index.htm</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>杭州</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>30.26</real>
				<key>longitude</key>
				<real>120.19</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1374</integer>
				<key>upperPMU</key>
				<integer>6870</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6870</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.14</real>
				<key>medicalCare</key>
				<real>0.115</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>杭州市人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://www.zjhz.lss.gov.cn/index.html</string>
				<key>websiteName2</key>
				<string>杭州住房公积金网</string>
				<key>websiteURL2</key>
				<string>http://www.hzgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>济南</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>36.65</real>
				<key>longitude</key>
				<real>117</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1556</integer>
				<key>upperPMU</key>
				<integer>7776</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7776</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>济南市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.jnhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>济南住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.gjj.gov.cn/index.html</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>苏州</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>31.32</real>
				<key>longitude</key>
				<real>120.62</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>2013</integer>
				<key>upperPMU</key>
				<integer>10065</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>10065</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>苏州人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://www.szldbz.gov.cn/szwzweb/html/home/index.shtml</string>
				<key>websiteName2</key>
				<string>苏州市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.szgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>福州</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>26.08</real>
				<key>longitude</key>
				<real>119.3</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1369</integer>
				<key>upperPMU</key>
				<integer>6845</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6845</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.18</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>福建省人力资源和社会保障厅</string>
				<key>websiteURL</key>
				<string>http://www.fjlss.gov.cn/action/index/indexPage.action</string>
				<key>websiteName2</key>
				<string>福州住房公积金公共服务平台</string>
				<key>websiteURL2</key>
				<string>http://www.fzzfgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>厦门</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>24.46</real>
				<key>longitude</key>
				<real>118.1</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1822</integer>
				<key>upperPMU</key>
				<integer>9114</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>9114</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.14</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>厦门市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.xmhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>厦门市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.xmgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>合肥</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>31.86</real>
				<key>longitude</key>
				<real>117.27</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1489.2</real>
				<key>upperPMU</key>
				<integer>7446</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7446</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>合肥市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.ahhfld.gov.cn/n1105/n32819/index.html</string>
				<key>websiteName2</key>
				<string>合肥市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.hfgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>青岛</string>
			<key>region</key>
			<string>East</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>36.07</real>
				<key>longitude</key>
				<real>120.33</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1270</integer>
				<key>upperPMU</key>
				<integer>6348</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6348</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.09</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.003</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>青岛市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.qdhrss.gov.cn/rsj/index.html</string>
				<key>websiteName2</key>
				<string>青岛市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.qdgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>武汉</string>
			<key>region</key>
			<string>Central</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>30.52</real>
				<key>longitude</key>
				<real>114.31</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1621</integer>
				<key>upperPMU</key>
				<integer>8106</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>8106</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>武汉市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>www.whrsj.gov.cn/</string>
				<key>websiteName2</key>
				<string>武汉住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.whgjj.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>南昌</string>
			<key>region</key>
			<string>Central</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>28.68</real>
				<key>longitude</key>
				<real>115.89</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1522</integer>
				<key>upperPMU</key>
				<integer>7611</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7611</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.06</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.004</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>南昌市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://hrss.nc.gov.cn/</string>
				<key>websiteName2</key>
				<string>南昌住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.ncgjj.com.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>长沙</string>
			<key>region</key>
			<string>Central</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>28.21</real>
				<key>longitude</key>
				<integer>113</integer>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1500</integer>
				<key>upperPMU</key>
				<integer>7500</integer>
				<key>lowerH</key>
				<integer>850</integer>
				<key>upperH</key>
				<integer>7500</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>长沙市劳动和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.csldbz.gov.cn/</string>
				<key>websiteName2</key>
				<string>长沙住房公积金</string>
				<key>websiteURL2</key>
				<string>http://www.csgjj.com.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>郑州</string>
			<key>region</key>
			<string>Central</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>34.76</real>
				<key>longitude</key>
				<real>113.65</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1492</integer>
				<key>upperPMU</key>
				<integer>8195</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>8195</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>郑州市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.hazz.lss.gov.cn/</string>
				<key>websiteName2</key>
				<string>郑州市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.zzgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>广州</string>
			<key>region</key>
			<string>South</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>23.16</real>
				<key>longitude</key>
				<real>113.23</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>2461</integer>
				<key>upperPMU</key>
				<integer>12303</integer>
				<key>lowerH</key>
				<integer>1300</integer>
				<key>upperH</key>
				<integer>12303</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.12</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.0085</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>广州市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.hrssgz.gov.cn/</string>
				<key>websiteName2</key>
				<string>广州住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.gzgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳</string>
			<key>region</key>
			<string>South</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>22.62</real>
				<key>longitude</key>
				<real>114.07</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>2336</integer>
				<key>upperPMU</key>
				<integer>12615</integer>
				<key>lowerH</key>
				<integer>1320</integer>
				<key>upperH</key>
				<integer>12615</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.13</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.11</real>
				<key>medicalCare</key>
				<real>0.045</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.13</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>深圳市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.szhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>深圳市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.szzfgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>南宁</string>
			<key>region</key>
			<string>South</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>22.84</real>
				<key>longitude</key>
				<real>108.33</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1283</integer>
				<key>upperPMU</key>
				<integer>6415</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6415</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.075</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.004</real>
				<key>pregnancy</key>
				<real>0.006</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>南宁市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.nn12333.cn/</string>
				<key>websiteName2</key>
				<string>南宁住房公积金信息网</string>
				<key>websiteURL2</key>
				<string>http://www.nngjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>海口</string>
			<key>region</key>
			<string>South</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>20.02</real>
				<key>longitude</key>
				<real>110.35</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1532.4</real>
				<key>upperPMU</key>
				<integer>7662</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7662</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.07</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.01</real>
				<key>pregnancy</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>海口市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://hihk.lss.gov.cn/</string>
				<key>websiteName2</key>
				<string>海南住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.hngjj.net/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>珠海</string>
			<key>region</key>
			<string>South</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>22.3</real>
				<key>longitude</key>
				<real>113.52</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1608.6</real>
				<key>upperPMU</key>
				<integer>8043</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>8043</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.1</real>
				<key>medicalCare</key>
				<real>0.06</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.002</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>珠海市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.zhrsj.gov.cn/</string>
				<key>websiteName2</key>
				<string>珠海住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.zhgjj.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>沈阳</string>
			<key>region</key>
			<string>Northeast</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>41.8</real>
				<key>longitude</key>
				<real>123.38</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1929</integer>
				<key>upperPMU</key>
				<integer>9645</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>9645</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.19</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.02</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>沈阳市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.syhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>沈阳住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.sygjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>长春</string>
			<key>region</key>
			<string>Northeast</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>43.88</real>
				<key>longitude</key>
				<real>125.35</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1522</integer>
				<key>upperPMU</key>
				<integer>7611</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7611</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.21</real>
				<key>medicalCare</key>
				<real>0.07</real>
				<key>unemployment</key>
				<real>0.015</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>长春市人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://rsj.changchun.gov.cn/</string>
				<key>websiteName2</key>
				<string>吉林省直公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.jlsgjj.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>哈尔滨</string>
			<key>region</key>
			<string>Northeast</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>45.75</real>
				<key>longitude</key>
				<real>126.63</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1276</integer>
				<key>upperPMU</key>
				<integer>6381</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6381</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.22</real>
				<key>medicalCare</key>
				<real>0.08</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.004</real>
				<key>pregnancy</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>哈尔滨市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.hrblss.gov.cn/</string>
				<key>websiteName2</key>
				<string>哈尔滨市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.hrbgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>西安</string>
			<key>region</key>
			<string>Northwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>34.27</real>
				<key>longitude</key>
				<real>108.95</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1514.4</real>
				<key>upperPMU</key>
				<integer>7572</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7572</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.07</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>西安市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.xahrss.gov.cn/structure/index.htm</string>
				<key>websiteName2</key>
				<string>西安住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.xazfgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>银川</string>
			<key>region</key>
			<string>Northwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>38.47</real>
				<key>longitude</key>
				<real>106.27</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1839.6</real>
				<key>upperPMU</key>
				<integer>9198</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>9198</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.06</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.009</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>宁夏人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://www.nxhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>银川住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.ycgjj.com.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>兰州</string>
			<key>region</key>
			<string>Northwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>36.03</real>
				<key>longitude</key>
				<real>103.73</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>1305.6</real>
				<key>upperPMU</key>
				<integer>6528</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6528</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.21</real>
				<key>medicalCare</key>
				<real>0.06</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>兰州市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://rsj.lanzhou.gov.cn/</string>
				<key>websiteName2</key>
				<string>兰州住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.lzgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>西宁</string>
			<key>region</key>
			<string>Northwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>36.56</real>
				<key>longitude</key>
				<real>101.74</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>929.4</real>
				<key>upperPMU</key>
				<integer>4647</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>4647</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.06</real>
				<key>unemployment</key>
				<real>0.015</real>
				<key>industrialInjury</key>
				<real>0.01</real>
				<key>pregnancy</key>
				<real>0.015</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>西宁市社会保险事业管理局</string>
				<key>websiteURL</key>
				<string>http://www.qhxn.si.gov.cn/</string>
				<key>websiteName2</key>
				<string>西宁住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.xngjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>乌鲁木齐</string>
			<key>region</key>
			<string>Northwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>43.77</real>
				<key>longitude</key>
				<real>87.68</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<real>740.4</real>
				<key>upperPMU</key>
				<integer>3702</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>3702</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.075</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.005</real>
				<key>pregnancy</key>
				<real>0.008</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>乌鲁木齐市劳动和社会保障局</string>
				<key>websiteURL</key>
				<string>http://xjwlmq.lss.gov.cn/framework/wlmqldw/index.jsp</string>
				<key>websiteName2</key>
				<string>乌鲁木齐住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.wlmqgjj.com/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>重庆</string>
			<key>region</key>
			<string>Southwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>29.59</real>
				<key>longitude</key>
				<real>106.54</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1178</integer>
				<key>upperPMU</key>
				<integer>8832</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>8832</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.18</real>
				<key>medicalCare</key>
				<real>0.06</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.006</real>
				<key>pregnancy</key>
				<real>0.006</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>重庆人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://www.cqhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>重庆市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.cqgjj.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>成都</string>
			<key>region</key>
			<string>Southwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>30.67</real>
				<key>longitude</key>
				<real>104.06</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1364</integer>
				<key>upperPMU</key>
				<integer>6819</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6819</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.075</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.006</real>
				<key>pregnancy</key>
				<real>0.006</real>
				<key>basicHousingFund</key>
				<real>0.07</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>成都市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://www.cdhrss.gov.cn/</string>
				<key>websiteName2</key>
				<string>成都住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.cdzfgjj.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>昆明</string>
			<key>region</key>
			<string>Southwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>25.04</real>
				<key>longitude</key>
				<real>102.73</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1449</integer>
				<key>upperPMU</key>
				<integer>7248</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>7248</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.2</real>
				<key>medicalCare</key>
				<real>0.1</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>industrialInjury</key>
				<real>0.003</real>
				<key>pregnancy</key>
				<real>0.005</real>
				<key>basicHousingFund</key>
				<real>0.1</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>昆明市人力资源和社会保障局</string>
				<key>websiteURL</key>
				<string>http://rsj.km.gov.cn/</string>
				<key>websiteName2</key>
				<string>昆明住房公积金网</string>
				<key>websiteURL2</key>
				<string>http://zfgjj.km.gov.cn/</string>
			</dict>
		</dict>
		<dict>
			<key>name</key>
			<string>贵阳</string>
			<key>region</key>
			<string>Southwest</string>
			<key>coordinate</key>
			<dict>
				<key>latitude</key>
				<real>26.57</real>
				<key>longitude</key>
				<real>106.71</real>
			</dict>
			<key>range</key>
			<dict>
				<key>lowerPMU</key>
				<integer>1230</integer>
				<key>upperPMU</key>
				<integer>6150</integer>
				<key>lowerH</key>
				<integer>0</integer>
				<key>upperH</key>
				<integer>6150</integer>
			</dict>
			<key>individual</key>
			<dict>
				<key>pension</key>
				<real>0.08</real>
				<key>medicalCare</key>
				<real>0.02</real>
				<key>unemployment</key>
				<real>0.01</real>
				<key>basicHousingFund</key>
				<real>0.08</real>
			</dict>
			<key>enterprise</key>
			<dict>
				<key>pension</key>
				<real>0.18</real>
				<key>medicalCare</key>
				<real>0.075</real>
				<key>unemployment</key>
				<real>0.02</real>
				<key>industrialInjury</key>
				<real>0.006</real>
				<key>pregnancy</key>
				<real>0.007</real>
				<key>basicHousingFund</key>
				<real>0.12</real>
			</dict>
			<key>info</key>
			<dict>
				<key>websiteName</key>
				<string>贵阳人力资源和社会保障网</string>
				<key>websiteURL</key>
				<string>http://www.gyhr.gov.cn/</string>
				<key>websiteName2</key>
				<string>贵阳市住房公积金管理中心</string>
				<key>websiteURL2</key>
				<string>http://www.gygjj.cn/</string>
			</dict>
		</dict>
	</array>
</plist>
